<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <title>Creation Center</title>
    {% load static %}
    <style>
        body{
    background-color: #3C6478;
}
#form1{
    width: 45%;
    margin: 0 auto;
}
#logo{
    margin-left: 40%;
}
h1.h3{
    text-align: center;
    color: white;
}
textarea{
    width: 100%;
    height: 100px;
    margin-top: 2%;
}
.messages{
    list-style-type: none;
    padding: 15px 10px;
    border-radius: 10px;
    background-color: rgba(255,0,0,0.5);
    color: white;
}
    </style>
</head>

<body>
    <form id="form1" class="form-signin" action="/editor/{{user.id}}" method="post">
        {% csrf_token %}
        <img id="logo" src="{% static 'restful/images/logo1.png' %}" alt='guerrilla'>
        <h1 class="h3 mb-3 font-weight-normal">Creation Center</h1>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <label for="inputName" class="sr-only">Name</label>
        <input type="text" id="inputName" class="form-control" placeholder="Name" name="name" value="{{user.name}}">

        <label for="inputEmail" class="sr-only">Email</label>
        <input type="text" id="inputEmail" class="form-control" placeholder="Email" name="email" value="{{user.email}}">


        <button class="btn btn-lg btn-primary btn-block" type="submit">Save Changes</button>
        <a class="btn btn-lg btn-primary btn-block" href="/">View users</a>
    </form>
</body>

</html>