*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url('images/stock.jpg');
}
h1{
    padding: 8px 0 8px 15px;
    color: white;
    background-color: black;
    box-shadow: .5px .5px 18px rgba(0, 0, 0, 0.5);
}
.table{
    background-color: #3C6478;
    height: 350px;
    width: 45%;
    margin: 0 auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    overflow-y: scroll;
}
h2{
    text-align: center;
}
.table td{
    vertical-align: middle;
}
.table tr:nth-child(even){
    background-color: rgba(208,208,208, 0.2);
}
#chartContainer{
    display: block;
    height: 350px;
    margin: 0 auto;
    margin-top: 100px;
}