*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #3C6478;
}
h1{
    padding: 10px 0 10px 15px;
    color: white;
    background-color: #8DA6B3;
    box-shadow: .5px .5px 18px rgba(0, 0, 0, 0.5);
}
h2{
    text-align: center;
    color: white;
}
.btn-primary{
    margin-top: 50px;
}
#form1{
    width: 50%;
    margin: 0 auto;
}
#form1 #logo{
    margin-left: 42%;
}
#form1 h1{
    text-align: center;
}
a{
    text-decoration: none;
    color: white;
    padding: 10px;
    background-color: black;
}
