<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Move Em</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <nav>
        <a href="/">Home</a>
    </nav>
    <div class="contain">
        <h1>Cuddles</h1>
        <img src="/images/cat1.gif" alt="cat">
            <p>Favorite food: <%= about.favorite %></p>
            <p>Age: <%= about.age %></p>
            <ul>
                <h6>Sleeping spots:</h6>
                    <% for (var s in about.spot) { %>
                        <li><%= about.spot[s] %></li>
                    <% } %>
            </ul>
    </div>
</body>
</html>