*{
    padding: 0;
    margin: 0;
}
.content{
    display: block;
    width: 90%;
    margin: 0 auto;
    background-color: rgba(0,0,0,0.7);
}
h2{
    text-align: center;
    color: white;
}
h3, h4, hr{
    width: 50%;
    margin: 0 auto;
    color: white;
}