*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgba(0,0,0,0.2);
}
nav{
    padding: 12px;
    background-color: rgba(0,0,0,0.8);
}
nav h1{
    display: inline-block;
    color: white;
}

h6{
    color: red;
}
form{
    display: block;
    width: 75%;
    margin: 0 auto;
    margin-top: 50px;
    background-color: white;
    padding: 10px;
    border-radius: 15px;
}
form h2{
    text-align: center;
}
form .btn{
    display: block;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 5px;
}
form .form-control{
    background-color: rgba(0,0,0,0.1);
}

div.my-3.p-3.rounded{
    display: block;
    width: 75%;
    margin: 0 auto;
    border-radius: 15px!important;
}
div.my-3.p-3.rounded .media-body{
    font-size: 12pt;
}
.comments{
    display: block;
    width: 75%;
    margin-left: 5%;
}
form.second{
    width: 65%;
}
