*{
    padding: 0;
    margin: 0;
}
table{
    width: 80%;
    margin: 0 auto;
    margin-top: 25px;
}
table td{
    vertical-align: middle;
}
table button{
    padding: 15px;
    background-color: rgba(50,50,250,1);
    color: white;
    border-radius: 15px;
    border: none;
}
table button:hover{
    color: white;
    background-color: rgba(50,50,250,0.7);
}
table .delete{
    background-color: rgba(240,0,0,1);
}
table .delete:hover{
    background-color: rgba(240,0,0,0.9);
}