<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Move Em</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <nav>
        <a href="/">Cars</a>
        <a href="/cats">Cats</a>
        <a href="/form">Add new car</a>
        <a href="/tester">File in static</a>
    </nav>
    <form>
        <h2>Create Car</h2>
        <div class="form-group">
            <label for="exampleFormControlInput1">Name:</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Name">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput2">Brand:</label>
            <input type="text" class="form-control" id="exampleFormControlInput2" placeholder="Chevy, Ford, etc...">
        </div>

    </form>
</body>
</html>