.header{
    display: block;
    padding: 20px;
    background-color: rgba(0,0,0,0.8);
}
.header input{
    display: block;
    width: 25%;
    margin: 0 auto;
}
img{
    display: block;
    width: 30%;
    margin: 0 auto;
}
.poki{
    display: block;
    padding: 20px;
    background-color: rgba(0,0,0,0.5);
}
.poki h1{
    color: white;
    text-align: center;
}
p{
    display: block;
    text-align: center;
    font-size: 15pt;
}