<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <h1>Tydye survey</h1>
    <form action="formInfo" method="POST">
        <h2>Registration</h2>
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" placeholder="Enter Name" name="name">
            <small id="emailHelp" class="form-text text-muted">Your name cannot be less than 2 character.</small>
        </div>

        <div class="form-group">
            <label for="location">Dojo Location:</label>
            <select class="form-control" id="location" name="location">
                <option>Tulsa</option>
                <option>Dallas</option>
                <option>Seattle</option>
                <option>San Fransico</option>
                <option>Washington DC</option>
            </select>
        </div>
        <div class="form-group">
            <label for="language">Favorite Language:</label>
            <select class="form-control" id="language" name="language">
                <option>Python</option>
                <option>Javascript</option>
                <option>C#</option>
                <option>Swift</option>
                <option>C++</option>
            </select>
        </div>

        <div class="form-group">
            <label for="comment">Comment (optional):</label>
            <textarea class="form-control" id="comment" rows="3" name="comment"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>
</html>