*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(37, 116, 169, 0.1);
}
span{
    color: red;
}
header{
    padding: 15px;
    background-color: rgba(0,0,0,0.8);
}
header h1{
    display: inline-block;
    color: rgba(245, 245, 3, 0.9);
}
header .btn-primary{
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 60%;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav a,p{
    display: inline-block;
    font-size: 28pt;
    margin-left: 3px;
}
nav a{
    color: rgba(0,0,0,0.8);
}
nav a:hover{
    text-decoration: none;
}
#container{
    display: block;
    width: 85%;
    margin: 0 auto;
}
.list-group{
    margin-top: 40px;
}
.list-group h2{
    text-align: center;
}
.scroll-box{
    height: 350px;
    overflow: auto;
}
#divider{
    height: 2px;
    background-color: black;
}
form{
    margin-bottom: 50px;
    margin-top: 50px;
}
form h2{
    text-align: center;
}
form .btn-primary{
    width: 100%;
}