<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Hello Flask</title>
    <style>
a{
    text-decoration: none;
    color: white;
    padding: 10px;
    background-color: black;
}
.container .table{
    border: 4px solid black;
}
.container .table .first{
    background-color: rgba(208,208,208, 0.2);
}
.container .table .third{
    background-color: rgba(208,208,208, 0.2);
}
h4{
    width: 35%;
    border-bottom: 1.5px solid black;
}
    </style>
</head>
<body>
<h1>Dojo Fruit Store Reciept</h1>
<p>You have ordered {{sum}} items. Your account has been charged. Message us if there is any probelms.</p>
<h2>You've Ordered!</h2>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Fruit Name</th>
        <th scope="col">Quanity</th>
      </tr>
    </thead>
    <tbody>
      <tr class="first">
        <th>Strawberry</th>
        <td>
            {{request.form['strawberry']}}
        </td>
      </tr>
      <tr class="second">
        <th>Raspberry</th>
        <td>
            {{request.form['raspberry']}}
        </td>
      </tr>
      <tr class="third">
        <th>Apple</th>
        <td>
            {{request.form['apple']}}
        </td>
      </tr>
    </tbody>
  </table>
<h4>Your Information</h4>
<p>Student ID #:   {{request.form['name']}}</p>
<p>Password:   {{request.form['password']}}</p>
<a class="btn btn-lg btn-primary btn-block" href="/danger">Go Back</a>
</body>
</html>