<h1>{{data.name}}</h1>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/Downtown_San_Jose_%2830001966530%29.jpg/1200px-Downtown_San_Jose_%2830001966530%29.jpg" alt="san jose">
<div class="list-group">
    <li class="list-group-item list-group-item-action">HUMIDITY: {{data.main.humidity}}</li>
    <li class="list-group-item list-group-item-action">TEMPERATURE(AVG): {{data.main.temp}} °F </li>
    <li class="list-group-item list-group-item-action">TEMPERATURE(LOW): {{data.main.temp_min}} °F</li>
    <li class="list-group-item list-group-item-action">TEMPERATURE(HIGH): {{data.main.temp_max}} °F</li>
    <li class="list-group-item list-group-item-action">STATUS: {{data.weather[0].description}}</li>
</div>