*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    margin-right: 45px;
}
nav{
    display: block;
    width: 350px;
    margin: 10px auto;
}
li{
    display: inline-block;
    margin-left: 5px;
    font-size: 20pt;
}
li:first-child{
    margin-left: 0; 
}
.col-lg-4{
    margin: 0 auto;
}