<form (submit) = "onSubmit()">
    <h2>Add Product</h2>
    <div class="form-group">
        <p *ngIf = "error_title">{{error_title}}</p>
        <label for="exampleInputEmail1">Title:</label>
        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter Title" name="newTask.title" [(ngModel)]="newTask.title">
    </div>
    <div class="form-group">
        <p *ngIf = "error_price">{{error_price}}</p>
        <label for="exampleInputEmail2">Price:</label>
        <input type="number" step="0.01" class="form-control" id="exampleInputEmail2" placeholder="Enter Price" name="newTask.price" [(ngModel)]="newTask.price">
    </div>
    <div class="form-group">
        <p *ngIf = "error_image">{{error_image}}</p>
        <label for="exampleInputEmail3">Image (URL):</label>
        <input type="text" class="form-control" id="exampleInputEmail3" placeholder="Enter Url" name="newTask.image" [(ngModel)]="newTask.image">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
