*{
    padding: 0;
    margin: 0;
}
h1{
    padding: 12px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}
header{
    width: 40%;
    margin: 0 auto;
}
div{
    display: block;
    width: 80%;
    height: 250px;
    margin: 0 auto;
    border: 1px solid black;
}
p{
    display: inline-block;
    margin-left: 4%;
    font-size: 18pt;
}
h3{
    text-align: center;
}
form{
    display: inline-block;
    width: 22%;
    margin-left: 2%;
}
.btn-primary{
    width: 100%;
}