*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #332F2F;
}
h1{
    padding: 15px;
    color: white;
    background-color: #080404;
}
h3{
    color: white;
}
form{
    display: block;
    width: 80%;
    margin: 0 auto;
}
label{
    color: white;
}
.btn-primary{
    display: block;
    margin: 0 auto;
    width: 50%;
}
td{
    color: white;
}
span{
    color: firebrick;
}