*{
    padding: 0;
    margin: 0;
}
h1{
    padding: 12px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}
h2{
   text-align: center;
}
div{
    display: block;
    width: 25%;
    height: 35px;
    margin: 0 auto;
    border: 1px solid black;
}
p{
    text-align: center;
}
.btn-primary{
    display: block;
    width: 50%;
    margin: 0 auto;
    margin-top: 10px;
}